<!--<p id="notice"><%= notice %></p>-->
<p>
<%= image_tag @item.uploaded_file.url(:medium), :class => 'img-rounded' %>
</p>

<%  if @item.category_id.present? %>
<p>
	<strong>Category:</strong>
	<%= @item.category.descr%>
</p>
<% end %>

<p>
  <strong>Code:</strong>
  <%= @item.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
